{% extends 'base.html.twig' %}

{% block title %}Hello AppController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
	<h1>Hello {{ controller_name }}! ✅</h1>
	
	This friendly message is coming from:
	<ul>
		<li>Your controller at <code><a href="{{ 'D:/wamp64/www/symfony_app/src/Controller/AppController.php'|file_link(0) }}">src/Controller/AppController.php</a></code></li>
		<li>Your template at <code><a href="{{ 'D:/wamp64/www/symfony_app/templates/app/index.html.twig'|file_link(0) }}">templates/app/index.html.twig</a></code></li>
	</ul>
</div>

<i class="fab fa-symfony" id="icon_symfony"></i>
<button type="button" class="btn btn-primary">Primary </button>

<form action="{{ path('app_submit_file') }}" method="post" enctype="multipart/form-data">
	<input type="file" name="file">
	<button type="submit">submit</button>
</form>

<hr>
	{% for file_entity in files_entity %}
		<a href="{{ asset('upload/' ~ file_entity.filename) }}" download="{{ file_entity.filename }}" target="_blank">
			<img src="{{ asset('upload/' ~ file_entity.filename) }}" alt="" width="250px" height="250px">
			Click to download
		</a>
		<a href="{{ path('app_delete_file', {fileId: file_entity.id}) }}">Delete file {{ file_entity.id }}</a>
	{% endfor %}
<hr>

<script>
	document.addEventListener('DOMContentLoaded', function (event) {
		console.log({vanilla: event});
		let iconSymfony = document.getElementById('icon_symfony');
		iconSymfony.onclick = function () {}
		iconSymfony.addEventListener('click', function () {})
	});

	$(document).ready(function (event) {
		console.log({jquery: event})
		let iconSymfony = $('#icon_symfony');
		iconSymfony.click(function () {})
	});
</script>
{% endblock %}
